MINIO_ENDPOINT=minio-api-wpp-team-10.apps.okd.ucll.cloud
MINIO_AK=minioadmin
MINIO_SK=minioadmin
JWT_AUTHORITY=http://localhost:5127
JWT_AUDIENCE=http://localhost:3000
JWT_SECRET=ec904f356bf8427276ef4c2924bd16db3ceca6413b709d2c00ed40771e7d989b3b6bc8f1b9f8618bc9599eaad1258879b6ab71cf1ed32b3044a43afb234fb996
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://front-end-team10-demo-wpp-team-10.apps.okd.ucll.cloud,https://back-end-team10-demo-wpp-team-10.apps.okd.ucll.cloud
VAPID_SUBJECT=mailto:vapid@example.com
VAPID_PUBLIC_KEY=BJqvnhgvdjewaE-6v0RiFGzNgBtwJmTyipgO_-EW9aEseXbZeiF1WqrPYe7l7VvO76HeeebddS0wHLZCgk5-EyU
VAPID_PRIVATE_KEY=Q6bjkC3a0LIcV9aJmXhxsWHIsSfQCmC9882wxrgNrA0